body {
    background: #000;
    color: #0ff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #00f, #0ff, #f0f);
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 30px #0ff;
}

h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
}

/* NAV */
nav button {
    margin: 8px;
    padding: 12px 25px;
    background: transparent;
    border: 2px solid #0ff;
    color: #0ff;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 10px #0ff inset, 0 0 10px #0ff;
    transition: 0.3s;
}

nav button:hover {
    background: #0ff;
    color: #000;
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff;
}

/* SECTIONS */
.section {
    padding: 30px;
}

.hidden {
    display: none;
}

/* GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}

/* PRODUCT */
.product {
    background: #050505;
    padding: 20px;
    text-align: center;
    border: 2px solid #0ff;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ff, inset 0 0 10px #0ff;
    transition: 0.3s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #0ff, 0 0 50px #0ff;
}

.product h3 {
    text-shadow: 0 0 10px #0ff;
}

/* IMAGES */
.product img {
    width: 130px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 10px #0ff);
}

/* PRICE */
.price {
    font-size: 22px;
    text-shadow: 0 0 10px #0ff;
}

/* INPUT */
input[type="number"],
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    background: #000;
    border: 2px solid #0ff;
    color: #0ff;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 10px #0ff inset;
}

/* BUTTONS */
button {
    padding: 12px 20px;
    background: transparent;
    color: #0ff;
    border: 2px solid #0ff;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 0 10px #0ff, inset 0 0 10px #0ff;
    transition: 0.3s;
}

button:hover {
    background: #0ff;
    color: #000;
    box-shadow: 0 0 20px #0ff, 0 0 50px #0ff;
}

/* TEXT */
h2, h3, label, p {
    text-shadow: 0 0 5px #0ff;
}

/* MOBILE */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    .product img {
        width: 100px;
    }
}
